.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

@keyframes swing {
  20% {
    transform: rotate(45deg);
  }

  40% {
    transform: rotate(-60deg);
  }

  60% {
    transform: rotate(15deg);
  }

  80% {
    transform: rotate(-80deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.logo {
  animation-duration: 6s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: swing;
}
