.button {
  border-radius: 4px;

  &[data-theme=light], &[data-theme=dark], &[data-theme=black] {
    color: var(--mantine-color-fg-0);
    background: none;

    &:hover {
      color: var(--mantine-color-fg-0);
      background-color: var(--mantine-color-bg-3);
    }
  }
}

.icon {
  &[data-theme=light] {
    &[data-color=orange] {
      background-color: var(--mantine-color-orange-2);

      svg {
        color: var(--mantine-color-orange-9);
      }
    }

    &[data-color=teal] {
      background-color: var(--mantine-color-teal-2);

      svg {
        color: var(--mantine-color-teal-9);
      }
    }

    &[data-color=grape] {
      background-color: var(--mantine-color-grape-2);

      svg {
        color: var(--mantine-color-grape-9);
      }
    }

    &[data-color=red] {
      background-color: var(--mantine-color-red-2);

      svg {
        color: var(--mantine-color-red-9);
      }
    }

    &[data-color=blue] {
      background-color: var(--mantine-color-blue-2);

      svg {
        color: var(--mantine-color-blue-9);
      }
    }

    &[data-color=yellow] {
      background-color: var(--mantine-color-yellow-2);

      svg {
        color: var(--mantine-color-yellow-9);
      }
    }
  }

  &[data-theme=dark], &[data-theme=black] {
    &[data-color=orange] {
      background-color: var(--mantine-color-orange-light);

      svg {
        color: var(--mantine-color-orange-light-color);
      }
    }

    &[data-color=teal] {
      background-color: var(--mantine-color-teal-light);

      svg {
        color: var(--mantine-color-teal-light-color);
      }
    }

    &[data-color=grape] {
      background-color: var(--mantine-color-grape-light);

      svg {
        color: var(--mantine-color-grape-light-color);
      }
    }

    &[data-color=red] {
      background-color: var(--mantine-color-red-light);

      svg {
        color: var(--mantine-color-red-light-color);
      }
    }

    &[data-color=blue] {
      background-color: var(--mantine-color-blue-light);

      svg {
        color: var(--mantine-color-blue-light-color);
      }
    }

    &[data-color=yellow] {
      background-color: var(--mantine-color-yellow-light);

      svg {
        color: var(--mantine-color-yellow-light-color);
      }
    }
  }
}