.root {
  &[data-theme="light"] {
    &[data-oc="orange"] {
      --btn-bg: var(--mantine-color-orange-6);
      --btn-hover-bg: var(--mantine-color-orange-7);
    }
    &[data-oc="teal"] {
      --btn-bg: var(--mantine-color-teal-6);
      --btn-hover-bg: var(--mantine-color-teal-7);
    }
    &[data-oc="grape"] {
      --btn-bg: var(--mantine-color-grape-6);
      --btn-hover-bg: var(--mantine-color-grape-7);
    }
    &[data-oc="red"] {
      --btn-bg: var(--mantine-color-red-6);
      --btn-hover-bg: var(--mantine-color-red-7);
    }
    &[data-oc="blue"] {
      --btn-bg: var(--mantine-color-blue-6);
      --btn-hover-bg: var(--mantine-color-blue-7);
    }
    &[data-oc="yellow"] {
      --btn-bg: var(--mantine-color-yellow-6);
      --btn-hover-bg: var(--mantine-color-yellow-7);
    }
    &[data-oc="gray"] {
      --btn-bg: var(--mantine-color-gray-8);
      --btn-hover-bg: var(--mantine-color-gray-9);
    }
  }

  &[data-theme="dark"],
  &[data-theme="black"] {
    &[data-oc="orange"] {
      --btn-bg: var(--mantine-color-orange-8);
      --btn-hover-bg: var(--mantine-color-orange-9);
    }
    &[data-oc="teal"] {
      --btn-bg: var(--mantine-color-teal-8);
      --btn-hover-bg: var(--mantine-color-teal-9);
    }
    &[data-oc="grape"] {
      --btn-bg: var(--mantine-color-grape-8);
      --btn-hover-bg: var(--mantine-color-grape-9);
    }
    &[data-oc="red"] {
      --btn-bg: var(--mantine-color-red-8);
      --btn-hover-bg: var(--mantine-color-red-9);
    }
    &[data-oc="blue"] {
      --btn-bg: var(--mantine-color-blue-8);
      --btn-hover-bg: var(--mantine-color-blue-9);
    }
    &[data-oc="yellow"] {
      --btn-bg: var(--mantine-color-yellow-8);
      --btn-hover-bg: var(--mantine-color-yellow-9);
    }
    &[data-oc="gray"] {
      --btn-bg: var(--mantine-color-gray-8);
      --btn-hover-bg: var(--mantine-color-gray-9);
    }
  }

  background-color: var(--mantine-color-bg-3) !important;

  &:not([data-disabled]) {
    color: var(--mantine-color-fg-0) !important;

    border: 1px solid var(--mantine-color-bg-5) !important;

    &:hover {
      color: var(--mantine-color-fg-0) !important;
      background-color: var(--mantine-color-bg-4) !important;
    }

    &[data-oc] {
      color: white !important;
      border: none !important;
      background-color: var(--btn-bg) !important;

      &:hover {
        color: white !important;
        background-color: var(--btn-hover-bg) !important;
      }
    }
  }

  &[data-disabled] {
    color: var(--mantine-color-fg-2) !important;
    border: none;
  }
}
