.root {
  &[data-theme="light"], &[data-theme="dark"], &[data-theme="black"] {
    &[data-variant="separated"] {
      border: none;

      .item {
        border: 1px solid var(--mantine-color-bg-5);
      }
    }

    border: 1px solid var(--mantine-color-bg-5);

    .item {
      background-color: var(--mantine-color-bg-1);
      border: none;
    }

    .label, .control {
      color: var(--mantine-color-fg-0);

      &:hover {
        background-color: inherit;
      }
    }
  }
}