.root {
  &[data-theme="light"],
  &[data-theme="dark"],
  &[data-theme="black"] {
    .content {
      border-color: var(--mantine-color-bg-5);
    }

    .body {
      background-color: var(--mantine-color-bg-2);
    }

    .header {
      color: var(--mantine-color-fg-0);
      background-color: var(--mantine-color-bg-2);
    }
  }
}
