.root {

  &[data-theme="light"],
  &[data-theme="dark"],
  &[data-theme="black"] {

    .label {
      color: var(--mantine-color-fg-0);
    }

    .description {
      color: var(--mantine-color-fg-2);
    }

    .radio {
      color: var(--mantine-color-fg-2);
      background-color: var(--mantine-color-bg-4);
      border-color: var(--mantine-color-bg-5);
    }

    .inner {
      svg {
        color: var(--mantine-color-fg-1);
      }
    }
  }
}