.input {
  &[data-theme=light] {
    color: var(--mantine-color-fg-0);
    background-color: var(--mantine-color-bg-1);
    border-color: var(--mantine-color-bg-5);
  }

  &[data-theme=dark] {
    color: var(--mantine-color-fg-0);
    background-color: var(--mantine-color-bg-1);
    border-color: var(--mantine-color-bg-5);
  }

  &[data-theme=black] {
    color: var(--mantine-color-fg-0);
    background-color: var(--mantine-color-bg-1);
    border-color: var(--mantine-color-bg-5);
  }
}

.label {
  &[data-theme=light] {
    color: var(--mantine-color-fg-0);
  }

  &[data-theme=dark] {
    color: var(--mantine-color-fg-0);
  }

  &[data-theme=black] {
    color: var(--mantine-color-fg-0);
  }
}