.root {
  &[data-theme="light"] {
    color: var(--mantine-color-fg-0);
    background-color: var(--mantine-color-blue-2);

    .message {
      color: var(--mantine-color-fg-0);
    }
  }

  &[data-theme="dark"], &[data-theme="black"] {
    color: var(--mantine-color-fg-0);
    background-color: var(--mantine-color-blue-light);

    .message {
      color: var(--mantine-color-fg-0);
    }
  }
}