.vscode/settings.json

node_modules

.eslintcache

release
app/main.prod.js
app/main.prod.js.map
app/main.prod.js.LICENSE.txt
app/renderer.prod.js
app/renderer.prod.js.map
app/style.css
app/style.css.map
dist
dll
main.js
main.js.map

*.css.d.ts
*.sass.d.ts
*.scss.d.ts