.vscode/settings.json

node_modules

.eslintcache

release
src/main.prod.js
src/main.prod.js.map
src/main.prod.js.LICENSE.txt
src/renderer.prod.js
src/renderer.prod.js.map
src/style.css
src/style.css.map
dist
dll
main.js
main.js.map

*.css.d.ts
*.sass.d.ts
*.scss.d.ts