.imageContainer {
  width: auto;
  height: 180px;
  overflow: hidden;
  margin: 0 -16px 0 -16px;
}

.imageContainer > img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.headerContainer {
  display: grid;
  column-gap: 16px;
  grid-template-columns: 150px auto;
}

.headerDetailsContainer {
  padding-top: 15px;
}

.coverImage {
  width: 100%;
  margin-top: -70px;
}

.backButtonAffix {
  position: absolute;
  top: 29px;
  z-index: 100;
}