.container {
  position: absolute;
  z-index: 20;
  border: 1px solid var(--color-foreground-alt);
  background-color: var(--color-background);
}

.button {
  width: 100%;
  background-color: var(--color-background);
  color: var(--color-foreground);
  border: none;
  text-align: left;
}

.button:hover {
  background-color: var(--color-background-alt);
  color: var(--color-foreground);
  cursor: pointer;
}

.divider {
  border: 0.5px solid var(--color-foreground-alt);
  margin-top: 2px;
  margin-bottom: 2px;
}