:root {
  --header-height: 50px;
}

.seriesGrid {
  margin-top: var(--header-height);
  margin-right: -16px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 16px;
  overflow-y: scroll;
  height: calc(100vh - 24px - var(--titlebar-height) - var(--header-height));
}

.emptyMessageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: calc(100vh - 24px - var(--titlebar-height));
}
