.backgroundContainer {
  display: grid;
}

.backgroundContainer > * {
  grid-row-start: 1;
  grid-column-start: 1;
}

.backgroundImageContainer {
  width: auto;
  height: 180px;
  overflow: hidden;
  margin: 0 -16px 0 -16px;

  background: linear-gradient(
        135deg,
        var(--color-background) 25%,
        transparent 25%
      ) -50px 0,
    linear-gradient(225deg, var(--color-background) 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, var(--color-background) 25%, transparent 25%),
    linear-gradient(45deg, var(--color-background) 25%, transparent 25%);
  background-size: 100px 100px;
  background-color: var(--color-background-alt);
}

.backgroundImageContainer > img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.controlContainer {
  position: relative;
}

.controlRow {
  position: absolute;
  right: 0;
  bottom: 2px;
}

.headerContainer {
  display: grid;
  column-gap: 16px;
  grid-template-columns: 150px auto;
}

.headerDetailsContainer {
  padding-top: 15px;
}

.headerTitleRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.headerTitleSpacer {
  flex: 4;
}

.coverImage {
  width: 100%;
  margin-top: -70px;
}

.backButtonAffix {
  position: absolute;
  top: 29px;
  z-index: 100;
  background-color: var(--color-background);
}

.removeButton,
.trackerButton,
.editButton {
  margin-left: 0.3rem;
  background-color: var(--color-background) !important;
}

.refreshButton {
  min-width: 5.2rem;
  margin-left: 0.3rem;
}

.descriptions {
  margin-top: 0.5rem;
}

.descriptionItem {
  text-transform: capitalize;
}

.formItem {
  margin-bottom: 0 !important;
}
