.loaderContainer {
  text-align: center;
}

.tabs {
  margin-top: -24px !important;
}

.listItemTitle {
  margin-bottom: 0 !important;
}

.listItemDescription {
  margin-right: 6px !important;
  margin-bottom: 0 !important;
}

.coverImg {
  width: 50px;
}

.row {
  margin-bottom: 8px !important;
}

.progressInput {
  width: 4.5rem;
}

.progressSubmitButton {
  margin-left: 8px;
  height: 31px !important;
}

.unlinkText {
  text-align: center;
  margin-bottom: 0 !important;
  padding-top: 12px;
}