.viewerContainer {
  width: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.viewerContainerVertical {
  width: 100%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  overflow-y: auto;
  cursor: pointer;
}

.imageWrapper {
  min-width: 100%;
  overflow-y: auto;
}

.pageImage {
  min-width: 0;
  width: 100%;
}

.fitHeight .pageImage {
  object-fit: contain;
  max-height: calc(100vh - 24px);
}

.fitWidth .pageImage {
  max-width: 100%;
  flex-grow: 1;
}

.fitAuto .pageImage {
  /* width: auto; */
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.imageColumn {
  float: left;
  width: 50%;
}

.pageNumberOverlayContainer {
  position: absolute;
  z-index: 20;
  right: 25px;
  bottom: 10px;
}

.pageNumberOverlayText {
  font-size: 1.2em;
  margin-bottom: 0 !important;
  text-shadow: -1px -1px 0 var(--color-background),
    0 -1px 0 var(--color-background), 1px -1px 0 var(--color-background),
    1px 0 0 var(--color-background), 1px 1px 0 var(--color-background),
    0 1px 0 var(--color-background), -1px 1px 0 var(--color-background),
    -1px 0 0 var(--color-background);
}
