.viewerContainer {
  width: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
}

.viewerContainerVertical {
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  position: relative;
  /* overflow: hidden; */
  flex-wrap: wrap;
  overflow-y: auto;
}

.imageWrapper {
  min-width: 100%;
  overflow-y: auto;
}

.pageImage {
  min-width: 0;
  width: 100%;
}

.fitHeight .pageImage {
  object-fit: contain;
  max-height: calc(100vh - 24px);
}

.fitWidth .pageImage {
  max-width: 100%;
  flex-grow: 1;
}

.fitAuto .pageImage {
  /* width: auto; */
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.imageColumn {
  float: left;
  width: 50%;
}

.moveControlsContainer,
.moveControlsContainerNoSidebar {
  width: calc(100vw - var(--sider-width));
  height: calc(100vh - 24px);
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.moveControlsContainerNoSidebar {
  width: calc(100vw);
}

.moveControl {
  width: 40%;
  height: 100vh;
  z-index: 10;
}

.moveControl:hover {
  cursor: pointer;
}
