img {
  user-select: none;
}

.container {
  width: 100%;
}

.page {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.page.containHeight {
  height: calc(100vh - var(--reader-header-height) - var(--titlebar-height))
}

.page.grow:not(.containHeight) {
  min-height: 100%;
}

.pageImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: unset;
  height: unset;
}

.pageImage.optimizeContrast {
  image-rendering: -webkit-optimize-contrast;
}

.pageImage.containWidth {
  max-width: 100%;
  min-width: 0;
}

.pageImage.containHeight {
  max-height: 100%;
}

.pageImage.grow {
  object-fit: contain;
  overflow-y: hidden;
}

.pageImage.grow:is(.containWidth) {
  width: 100%;
}

.pageImage.grow:is(.containHeight) {
  height: 100%;
}

.pageImage.left {
  margin-right: 0px;
}

.pageImage.right {
  margin-left: 0px;
}

.pageImage.left.gap {
  margin-right: 5px;
}

.pageImage.right.gap {
  margin-left: 5px;
}

.pageImage.gap:not(.left):not(.right) {
  padding-bottom: 10px;
}