:root {
  --header-height: 30px;
  --inner-height: calc(var(--header-height) - 6px);
}

.button {
  cursor: pointer;
  background: var(--color-background) !important;
  color: var(--color-foreground) !important;

  height: var(--inner-height);
  margin: auto !important;
  padding: 0;
  border: none;
  outline: none;
}

.button:hover:not(.button:disabled) {
  background-color: var(--color-foreground-alt) !important;
  color: var(--color-foreground-header) !important;
}

.button:disabled {
  cursor: not-allowed;
  background-color: var(--color-foreground-alt) !important;
}

.exitButton, .pageStyleButton, .fitButton, .stretchButton {
  padding-left: 6px;
  padding-right: 6px;
}

.arrowButton {
  width: 20px;
}

.field {

  background: var(--color-background);
  color: var(--color-foreground);

  cursor: pointer;
  height: var(--inner-height);

  margin: auto;
  padding-left: 6px;
  padding-right: 6px;

  display: flex;
  align-items: center;
}

.field:hover {
  background-color: var(--color-foreground-alt);
  color: var(--color-foreground-header);
}