:root {
  --reader-header-height: 30px;
  --reader-header-min-width: 800px;
  --reader-header-inner-height: calc(var(--reader-header-height) - 6px);
}

.container {
  height: var(--reader-header-height);
  width: 100%;
  min-width: var(--reader-header-min-width);
  position: fixed;
  top: var(--titlebar-height);

  display: flex;
  flex-direction: row;
  gap: 6px;
  padding-left: 6px;

  z-index: 300;
  user-select: none;
}

.button {
  height: 24px !important;
  font-size: 12px !important;
  color: var(--mantine-color-fg-0) !important;
  background-color: var(--mantine-color-bg-0) !important;
}

.button:hover {
  background-color: var(--mantine-color-bg-5) !important;
}

.button:disabled {
  color: var(--mantine-color-bg-3) !important;
  background-color: var(--mantine-color-bg-4) !important;
}

.button span[data-position="left"] {
  margin-right: 4px;
}

.button span[data-position="right"] {
  margin-left: 0;
}