:root {
  --reader-header-height: 30px;
  --reader-header-min-width: 800px;
  --reader-header-inner-height: calc(var(--reader-header-height) - 6px);
}

.container {
  height: var(--reader-header-height);
  width: 100%;
  min-width: var(--reader-header-min-width);
  position: fixed;
  top: var(--titlebar-height);

  display: flex;
  flex-direction: row;
  gap: 6px;
  padding-left: 6px;

  z-index: 300;
  user-select: none;

  &[data-theme="light"] {
    background-color: var(--mantine-color-bg-2);
  }

  &[data-theme="dark"] {
    background-color: var(--mantine-color-bg-2);
  }

  &[data-theme="black"] {
    background-color: var(--mantine-color-bg-2);
  }
}
