.container {
  display: block;
  position: fixed;
  top: 0;
  height: 24px;
  width: 100%;
  padding: 2px;
  z-index: 999;

  -webkit-app-region: drag;
}

.title {
  grid-column: 1;
  display: flex;
  align-items: center;
  margin-left: 8px;
  overflow: hidden;
  font-family: 'Segoe UI', sans-serif;
  font-size: 12px;
  overflow-x: hidden;
}

.title span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5;
}

.controls {
  display: grid;
  grid-template-columns: repeat(3, 46px);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;

  -webkit-app-region: no-drag;
}

.controls .button {
  user-select: none;
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  color: var(--mantine-color-fg-0);
  background: var(--mantine-color-bg-0);
}

.controls .button:hover {
  color: var(--mantine-color-fg-8);
  background: var(--mantine-color-bg-8);
}

.button.exit:hover {
  color: white;
  background: var(--mantine-color-red-5);
  filter: none;
}