* {
    -color-foreground: #565e65;
    -color-foreground-alt: #444b50;
    -color-background: #f3f4f5;
    -color-background-alt: #e5e7e9;
    -color-accent: darkgray;
    -color-accent-alt: dimgray;
}

.bareText {
    -fx-fill: -color-foreground;
    -fx-text-fill: -color-accent;
}

.bareTextAlt {
    -fx-fill: -color-foreground-alt;
    -fx-text-fill: -color-foreground-alt;
}

.containerAlt,
.containerAlt .viewport {
    -fx-background-color: -color-background-alt;
}

.h1 {
    -fx-fill: -color-foreground;
}

.button {
    -fx-background-color: -color-background-alt;
    -fx-border-color: -color-foreground;
    -fx-background-insets: 0;
}

.button > .text {
    -fx-fill: -color-foreground;
}

.button:hover {
    -fx-background-color: -color-accent;
}

.button:pressed {
    -fx-background-color: -color-accent-alt;
}

.menu-bar {
    -fx-background-color: -color-background-alt;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: -color-foreground;
}

.menu-bar > .container > .menu-button > .label > .text, .menu-item > .label > .text {
    -fx-fill: -color-foreground;
}

.menu-bar > .container > .menu-button:hover > .label > .text,
.menu-bar > .container > .menu-button:showing > .label > .text,
.menu-bar > .container > .menu .menu-item:hover > .label > .text {
    -fx-fill: -color-background;
}

.menu-button {
    -fx-background-color: -color-background-alt;
}

.menu-button:hover, .menu-button:showing, .menu-item:hover {
    -fx-background-color: -color-accent-alt;
}

.menu-item {
    -fx-background-color: -color-background;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.text-field {
    -fx-border-color: -color-foreground;
}

.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color: -color-background-alt;
}

.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-background-color: -color-foreground, -color-background-alt;
    -fx-background-insets: 0 1 1 0, 1 2 0 1;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color: -color-foreground, -color-background;
    -fx-background-insets: 0 1 1 0, 1 2 0 1;
}

.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label > .text {
    -fx-fill: -color-foreground;
}

#container {
    -fx-background-color: -color-background;
}

#topContainer, #descriptionContainer, #layoutBar, #actionBar, #searchBar, #metadataScrollPane,
#metadataScrollPane .viewport, #metadataContainer, #filterBar {
    -fx-background-color: -color-background;
}

#headerBar {
    -fx-background-color: -color-foreground;
}

#headerBar .h1 {
    -fx-fill: -color-background;
}

#navContainer {
    -fx-background-color: -color-background-alt;
}

#navCenterContainer > * {
    -fx-fill: -color-foreground;
}

#imageScrollPane, #coversContainer {
    -fx-background: -color-background;
}

#treeView .tree-table-row-cell {
    -fx-background-color: -color-background-alt;
}

#treeView .tree-table-row-cell:selected {
    -fx-background-color: -color-foreground-alt;
}

#treeView .tree-table-row-cell .tree-table-cell > * {
    -fx-fill: -color-foreground;
}

#treeView .tree-table-row-cell:selected .tree-table-cell > * {
    -fx-fill: -color-background-alt;
}

#tableView .table-row-cell .table-cell > * {
    -fx-fill: -color-foreground;
}

#tableView .table-row-cell:even {
    -fx-background-color: -color-background;
}

#tableView .table-row-cell:odd {
    -fx-background-color: -color-background-alt;
}

#tableView .table-row-cell:selected .table-cell {
    -fx-background-color: -color-foreground-alt;
    -fx-border-color: -color-background-alt;
}

#tableView .table-row-cell:selected .table-cell > * {
    -fx-fill: -color-background-alt;
}

#tableView .placeholder {
    -fx-background-color: -color-background;
}

.metadataLabel, .metadataTextFlow > * {
    -fx-fill: -color-foreground;
}

#searchBackButton {
    -fx-background-color: -color-foreground-alt;
}

#searchBackButton:hover {
    -fx-background-color: -color-accent-alt;
}

#searchBackButton:pressed {
    -fx-background-color: -color-accent;
}

#configContainer {
    -fx-border-color: -color-foreground;
}

#configContentContainer {
    -fx-background-color: -color-background-alt;
}

.configTabPane, .configTabWell {
    -fx-border-color: -color-accent;
}

.configTabPane > .tab-header-area > .tab-header-background {
    -fx-background-color: -color-background;
}

.configTabPane > .tab-header-area > .headers-region > .tab {
    -fx-background-color: -color-foreground, -color-background;
    -fx-background-insets: 0 1 1 0, 1 2 0 1;
}

.configTabPane > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color: -color-foreground, -color-background-alt;
    -fx-background-insets: 0 1 1 0, 1 2 0 1;
}

.configTabWell {
    -fx-background-color: -color-background;
}

.topicHeaderBar {
    -fx-background-color: -color-foreground-alt;
}

.topicHeaderBar > * {
    -fx-fill: -color-background-alt;
}

#listView {
    -fx-border-color: -color-foreground;
}

#listView .list-cell {
    -fx-background-color: -color-background-alt;
}

#listView .list-cell:selected {
    -fx-background-color: -color-foreground-alt;
}

#listView .list-cell .listItem > * {
    -fx-fill: -color-foreground;
}

#listView .list-cell:selected .listItem > * {
    -fx-fill: -color-background-alt;
}

#seriesTabPane, #chaptersContainer {
    -fx-border-color: -color-accent;
}