* {
    -color-foreground: #565e65;
    -color-foreground-alt: #444b50;
    -color-background: #f3f4f5;
    -color-background-alt: #e5e7e9;
    -color-accent: darkgray;
    -color-accent-alt: dimgray;
}

.bareText {
    -fx-fill: -color-foreground;
    -fx-text-fill: -color-foreground;
}

.h1 {
    -fx-fill: -color-foreground;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.text-field {
    -fx-border-color: -color-foreground;
}

#topContainer, #descriptionContainer, #layoutBar, #actionBar, #searchBar {
    -fx-background-color: -color-background;
}

#navContainer, #headerBar {
    -fx-background-color: -color-background-alt;
}

#navCenterContainer > * {
    -fx-fill: -color-foreground;
}

#imageScrollPane, #coversContainer {
    -fx-background: -color-background;
}

#filterBar {
    -fx-background-color: -color-background;
}

#treeView .tree-table-row-cell {
    -fx-background-color: -color-background-alt;
}

#treeView .tree-table-row-cell:selected {
    -fx-background-color: -color-foreground-alt;
}

#treeView .tree-table-row-cell .tree-table-cell > * {
    -fx-fill: -color-foreground;
}

#treeView .tree-table-row-cell:selected .tree-table-cell > * {
    -fx-fill: -color-background-alt;
}

#tableView .table-row-cell .table-cell > * {
    -fx-fill: -color-foreground;
}

#tableView .table-row-cell:even {
    -fx-background-color: -color-background;
}

#tableView .table-row-cell:odd {
    -fx-background-color: -color-background-alt;
}

#tableView .table-row-cell:selected .table-cell {
    -fx-background-color: -color-foreground-alt;
    -fx-border-color: -color-background-alt;
}

#tableView .table-row-cell:selected .table-cell > * {
    -fx-fill: -color-background-alt;
}

#tableView .placeholder {
    -fx-background-color: -color-background;
}

.metadataLabel, .metadataTextFlow > * {
    -fx-fill: -color-foreground;
}

#searchBackButton {
    -fx-background-color: -color-accent-alt;
}

#searchBackButton:hover {
    -fx-background-color: -color-foreground-alt;
}

#searchBackButton:pressed {
    -fx-background-color: -color-accent;
}