* {
    -color-foreground: #565e65;
    -color-foreground-alt: #444b50;
    -color-background: #f3f4f5;
    -color-background-alt: #e5e7e9;
    -color-accent: darkgray;
    -color-accent-alt: dimgray;
    -color-success: #5c946e;
    -color-fail: #f64740;
}