.root {
    -fx-font-size: 1em;
}

.h1 {
    -fx-font-size: 2.1em;
    -fx-font-weight: bold;
}

.scroll-bar:vertical {
    -fx-pref-width: 15;
}

.scroll-bar, .scroll-bar:pressed, .scroll-bar:focused {
    -fx-font-size: 15;
}

.text-field {
    -fx-background-color: -fx-control-inner-background;
    -fx-background-insets: 0;
}

.hyperlink {
    -fx-underline: true;
}

#navContainer {
    -fx-min-height: 50;
    -fx-pref-height: 50;
}

#actionContainer {
    -fx-font-size: 1.2em;
}

#imageProgressIndicator, #searchProgressIndicator {
    -fx-max-width: 80;
}

#menuBar {
    -fx-min-height: 30px;
}

.placeholderLabel {
    -fx-font-size: 18px;
}

#layoutBar, #filterBar {
    -fx-font-size: 1.1em;
    -fx-min-height: 50px;
}

#filterTextField {
    -fx-min-width: 300;
    -fx-font-size: 1.15em;
}

.tableCell {
    -fx-alignment: center-left;
}

.tableText {
    -fx-font-size: 18px;
}

.categoryText {
    -fx-font-weight: bold;
}

#metadataContainer, #descriptionContainer {
    -fx-font-size: 1.4em;
}

.metadataLabel {
    -fx-font-weight: bold;
}

.metadataTextFlow {
    -fx-max-width: 600px;
}

#textAreaDescription {
    -fx-min-height: 80px;
}

#searchSeriesHeader {
    -fx-font-size: 1.1em;
}

#searchBar {
    -fx-font-size: 1.4em;
}

#errorText {
    -fx-font-size: 1.5em;
}

.coverLabel {
    -fx-text-fill: white;
    -fx-effect: dropshadow(one-pass-box, black, 9, 0, 2, 1);
    -fx-font-weight: bold;
    -fx-font-size: 1.2em;
}

#listView {
    -fx-font-size: 1.4em;
}

#listView .list-cell .listItem {
    -fx-padding: 10 0 10 6;
}

#configContentContainer {
    -fx-font-size: 1.2em;
}

.topicHeaderBar {
    -fx-font-weight: bold;
    -fx-padding: 5 0 5 5;
}

.topicContainer {
    -fx-padding: 5;
}

.configTabPane .tab-content-area {
    -fx-padding: 20;
}

.configTabWell {
    -fx-padding: 8 8 8 8;
    -fx-spacing: 8;
}

.controlSubBox {
    -fx-padding: 0 0 0 30;
    -fx-spacing: 8;
}

#configControlBar {
    -fx-font-size: 1.2em;
}

#configControlBar .button {
    -fx-min-width: 8em;
}