* {
    -color-foreground: #c7ccd1;
    -color-foreground-alt: #9fa3a7;
    -color-background: #1c2023;
    -color-background-alt: #111315;
    -color-accent: darkgray;
    -color-accent-alt: dimgray;
}

.bareText {
    -fx-fill: -color-foreground;
    -fx-text-fill: -color-foreground;
}

.bareTextAlt {
    -fx-fill: -color-foreground-alt;
    -fx-text-fill: -color-foreground-alt;
}

.h1 {
    -fx-fill: -color-foreground;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.text-field {
    -fx-border-color: -color-accent;
}

#container {
    -fx-background-color: -color-background;
}

#topContainer, #descriptionContainer, #layoutBar, #actionBar, #searchBar {
    -fx-background-color: -color-background;
}

#navContainer, #headerBar {
    -fx-background-color: -color-background-alt;
}

#navCenterContainer > * {
    -fx-fill: -color-foreground;
}

#imageScrollPane, #coversContainer {
    -fx-background: -color-background;
}

#filterBar {
    -fx-background-color: -color-background;
}

#treeView .tree-table-row-cell {
    -fx-background-color: -color-background-alt;
}

#treeView .tree-table-row-cell:selected {
    -fx-background-color: -color-foreground-alt;
}

#treeView .tree-table-row-cell .tree-table-cell > * {
    -fx-fill: -color-foreground;
}

#treeView .tree-table-row-cell:selected .tree-table-cell > * {
    -fx-fill: -color-background-alt;
}

#tableView .table-row-cell:even {
    -fx-background-color: -color-background;
}

#tableView .table-row-cell:even .table-cell > * {
    -fx-fill: -color-foreground;
}

#tableView .table-row-cell:odd {
    -fx-background-color: -color-background-alt;
}

#tableView .table-row-cell:odd .table-cell > * {
    -fx-fill: -color-foreground-alt;
}

#tableView .table-row-cell:selected .table-cell {
    -fx-background-color: -color-foreground-alt;
    -fx-border-color: -color-background-alt;
}

#tableView .table-row-cell:selected .table-cell > * {
    -fx-fill: -color-background-alt;
}

#tableView .placeholder {
    -fx-background-color: -color-background;
}

.metadataLabel, .metadataTextFlow > * {
    -fx-fill: -color-foreground;
}

#searchBackButton {
    -fx-background-color: transparent;
}

#searchBackButton:hover {
    -fx-background-color: -color-accent-alt;
}

#searchBackButton:pressed {
    -fx-background-color: -color-accent;
}

#configSplitPane {
    -fx-border-color: -color-foreground;
}

#configContentContainer {
    -fx-background-color: -color-background-alt;
}

.configTabPane, .configTabWell {
    -fx-border-color: -color-accent;
}

.configTabWell {
    -fx-background-color: -color-background;
}

.topicHeaderBar {
    -fx-background-color: -color-foreground-alt;
}

.topicHeaderBar > * {
    -fx-fill: -color-background-alt;
}

#listView .list-cell {
    -fx-background-color: -color-background-alt;
}

#listView .list-cell:selected {
    -fx-background-color: -color-foreground-alt;
}

#listView .list-cell .listItem > * {
    -fx-fill: -color-foreground;
}

#listView .list-cell:selected .listItem > * {
    -fx-fill: -color-background-alt;
}