* {
    -color-foreground: #c7ccd1;
    -color-foreground-alt: #9fa3a7;
    -color-background: #1c2023;
    -color-background-alt: #111315;
    -color-accent: darkgray;
    -color-accent-alt: dimgray;
    -color-success: #5c946e;
    -color-fail: #f64740;
}

#searchBackButton {
    -fx-background-color: transparent;
}