* {
    -color-foreground: #c7ccd1;
    -color-foreground-alt: #9fa3a7;
    -color-background: #1c2023;
    -color-background-alt: #111315;
    -color-accent: darkgray;
    -color-accent-alt: dimgray;
}

#headerBar {
    -fx-background-color: -color-background-alt;
}

#searchBackButton {
    -fx-background-color: transparent;
}