/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

/* @import '~@fortawesome/fontawesome-free/css/all.css'; */

body {
  /* height: 100vh; */

  /* overflow-y: hidden; */
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  font-size: 16px;
}
