.loaderContainer {
  text-align: center;
}

.row {
  margin-bottom: 8px !important;
}

.buttonRow {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

.button {
  margin-left: 5px;
  margin-right: 5px;
}
