.pageLayout {
  min-height: 100vh;
}

.contentLayout {
  height: calc(100vh - 24px - var(--titlebar-height));
  overflow-y: auto;
}

.sider {
  /* overflow: auto; */
  height: 100vh;
  position: fixed;
  left: 0;

  /* overrides since sider itself does not support sider prop
     https://github.com/ant-design/ant-design/issues/9719 */
  flex: 0 0 180px !important;
  max-width: 180px !important;
  min-width: 180px !important;
  width: 180px !important;

  user-select: none;
}

.content {
  margin: 0 16px 0;
  overflow: none;
}