.coverContainer {
  display: flex;
  align-items: center;
  opacity: 0.8;
  background-size: cover;
}

.seriesTitle {
  position: absolute;
  width: 85%;
  bottom: 0px;
  left: 12px;
  text-shadow: #000 0 0 4px !important;
  font-size: 14px !important;
  user-select: none;
  color: white !important;
}

.seriesUnreadCount {
  position: absolute;
  top: 0px;
  left: 8px;
  padding: 0 5px;
  background-color: var(--color-exit);
  user-select: none;
  z-index: 1;
}

.seriesInLibrary {
  position: absolute;
  top: 0px;
  right: 8px;
  padding: 0 5px;
  background-color: var(--color-success);
  user-select: none;
  z-index: 1;
}

.coverContainer:hover {
  cursor: pointer;
  opacity: 0.3;
}
