:root {
  --color-background: rgba(29, 31, 33, 1);
  --color-background-faded: rgba(29, 31, 33, 0.75);
  --color-foreground: rgba(197, 200, 198, 0.8);
  --color-0: rgba(40, 42, 46, 1); /* black */
  --color-8: rgba(55, 59, 65, 1); /* light black (dark gray) */
  --color-1: rgba(165, 66, 66, 1); /* red */
  --color-9: rgba(204, 102, 102, 1); /* light red */
  --color-2: rgba(140, 148, 64, 1); /* green */
  --color-10: rgba(181, 189, 104, 1); /* light green */
  --color-3: rgba(222, 147, 95, 1); /* yellow */
  --color-11: rgba(240, 198, 116, 1); /* light yellow */
  --color-4: rgba(95, 129, 157, 1); /* blue */
  --color-12: rgba(129, 162, 190, 1); /* light blue */
  --color-5: rgba(133, 103, 143, 1); /* purple */
  --color-13: rgba(178, 148, 187, 1); /* light purple */
  --color-6: rgba(94, 141, 135, 1); /* teal */
  --color-14: rgba(138, 190, 183, 1); /* light teal */
  --color-7: rgba(112, 120, 128, 1); /* light gray */
  --color-15: rgba(197, 200, 198, 1); /* white */

  --color-background-alt: var(--color-0);
  --color-foreground-alt: var(--color-8);
  --color-foreground-header: var(--color-15);

  --color-link: var(--color-4);
  --color-link-highlight: var(--color-12);

  --color-exit: var(--color-1);
  --color-success: var(--color-2);
}

#root {
  background-color: var(--color-background);
}

.ant-layout {
  background-color: var(--color-background);
}

.ant-layout-sider,
.ant-menu.ant-menu-dark {
  background-color: var(--color-background-alt);
}

.ant-menu-dark:not(.ant-menu-horizontal).ant-menu-dark .ant-menu-item-selected {
  background-color: var(--color-background);
}

.ant-menu.ant-menu-root:focus-visible {
  box-shadow: none;
}

.ant-typography {
  color: var(--color-foreground);
}

h4.ant-typography,
.ant-descriptions-item-label {
  color: var(--color-foreground-header);
}

.ant-descriptions-item-content {
  color: var(--color-foreground);
}

a.ant-typography,
.ant-typography a {
  color: var(--color-link);
}

a.ant-typography:hover,
.ant-typography a:hover {
  color: var(--color-link-highlight);
}

.ant-btn:hover:not(.ant-btn-primary:hover),
.ant-btn:focus:not(.ant-btn-primary:focus) {
  border-color: var(--color-link);
  color: var(--color-link);
}

.ant-input:hover,
.ant-input:focus,
.ant-input-number:hover,
.ant-input-number:focus,
.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover,
.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):focus,
.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border-color: var(--color-link);
  box-shadow: none;
}

.ant-input-number-handler:hover .ant-input-number-handler-up-inner,
.ant-input-number-handler:hover .ant-input-number-handler-down-inner {
  color: var(--color-link);
}

.ant-table {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

.ant-table-thead>tr>th {
  background-color: var(--color-background-alt) !important;
  color: var(--color-foreground-header) !important;
}

td.ant-table-column-sort {
  background-color: var(--color-background) !important;
}

.ant-table-tbody>tr.ant-table-row:hover>td {
  background-color: var(--color-background-alt) !important;
}

.ant-table-column-sorter-up.active,
.ant-table-column-sorter-down.active {
  color: var(--color-link);
}

.ant-pagination-item a {
  color: var(--color-foreground);
}

.ant-pagination-item a:hover {
  color: var(--color-link);
}

.ant-pagination-item-active,
.ant-pagination-item-active a {
  color: var(--color-link);
  border-color: var(--color-link);
}

.ant-pagination-item-active:hover,
.ant-pagination-item-active:hover a,
.ant-pagination-item-active:focus a,
.ant-pagination-item-active:active a {
  color: var(--color-link-highlight);
  border-color: var(--color-link-highlight);
}

.ant-pagination-item-container .ant-pagination-item-link-icon {
  color: var(--color-link) !important;
}

.ant-pagination-item-link {
  color: var(--color-foreground) !important;
}

.ant-pagination-item-link:hover {
  color: var(--color-link) !important;
}

.ant-badge-count {
  background: var(--color-12);
  color: var(--color-background-alt);
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: var(--color-link);
}

.ant-tabs-tab:hover {
  color: var(--color-link);
}

.ant-tabs-tab-btn:focus,
.ant-tabs-tab-remove:focus,
.ant-tabs-tab-btn:active,
.ant-tabs-tab-remove:active {
  color: var(--color-link);
}

.ant-tabs-ink-bar {
  background: var(--color-link);
}

.ant-checkbox-wrapper {
  color: var(--color-foreground);
}

.ant-checkbox-wrapper .ant-checkbox-inner,
.ant-checkbox .ant-checkbox-inner,
.ant-checkbox-input+.ant-checkbox-inner,
.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus+.ant-checkbox-inner {
  border-color: var(--color-foreground);
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: var(--color-foreground-alt);
}

.ant-checkbox-checked::after {
  border: none;
}

.ant-collapse:not(.ant-collapse-ghost) > .ant-collapse-item > .ant-collapse-header {
  background-color: var(--color-background-alt);
  color: var(--color-foreground);
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  color: var(--color-foreground);
}

#window-controls .button:hover {
  background: rgba(255, 255, 255, 0.1);
}

#close-button:hover {
  background: var(--color-exit) !important;
}