/* Custom replacement for the default window titlebar.
   Adapted from: https://github.com/digimezzo/electron-seamless-titlebar-tutorial */

#titlebar {
  display: block;
  position: fixed;
  top: 0;
  height: 24px;
  width: 100%;
  background: var(--color-background);
  padding: 2px;
  z-index: 999;
}

#titlebar.hidden {
  display: none;
}

#titlebar #drag-region {
  width: 100%;
  height: 100%;
  -webkit-app-region: drag;
}

#window-title {
  grid-column: 1;
  display: flex;
  align-items: center;
  margin-left: 8px;
  overflow: hidden;
  font-family: 'Segoe UI', sans-serif;
  font-size: 12px;
  overflow-x: hidden;
}

#window-title span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5;
}

#window-controls {
  display: grid;
  grid-template-columns: repeat(3, 46px);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

#window-controls .button {
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  fill: var(--color-foreground);
}

#min-button {
  grid-column: 1;
}

#max-restore-button {
  grid-column: 2;
}

#close-button {
  grid-column: 3;
}

#window-controls {
  -webkit-app-region: no-drag;
}

#window-controls .button {
  user-select: none;
}