.pageLayout {
  min-height: 100vh;
}

.contentLayout {
  /* margin-left: 180px; */
  height: calc(100vh - 24px - 24px);
  overflow-y: auto;
  /* border-bottom: 1px solid gray; */
}

.sider {
  /* overflow: auto; */
  height: 100vh;
  position: fixed;
  left: 0;

  /* overrides since sider itself does not support sider prop
     https://github.com/ant-design/ant-design/issues/9719 */
  flex: 0 0 180px !important;
  max-width: 180px !important;
  min-width: 180px !important;
  width: 180px !important;
}

.content {
  margin: 0px 16px 0;
  /* overflow: scroll; */
}

.controlBar {
  display: flex;
  align-items: center;
}

.controlBarSpacer {
  flex: 7;
}

.columnsSlider {
  flex: 4;
}

.seriesFilter {
  flex: 3;
  margin-left: 3rem !important;
}
