.pageLayout {
  min-height: 100vh;
}

.contentLayout {
  justify-content: center;
  align-items: center;
  height: calc(100vh - 24px);
  overflow-y: auto;
  overflow-x: hidden;
}

.preloadContainer {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.viewerContainer {
  width: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
}

.imageWrapper {
  min-width: 100%;
  overflow-y: auto;
}

.pageImage {
  min-width: 0;
  width: 100%;
}

.fitHeight .pageImage {
  object-fit: contain;
  height: 100%;
}

.fitWidth .pageImage {
  max-width: 100%;
  flex-grow: 1;
}

.fitAuto .pageImage {
  /* width: auto; */
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.imageColumn {
  float: left;
  width: 50%;
}
