.pageLayout {
  min-height: 100vh;
}

.contentLayout {
  justify-content: center;
  align-items: center;
  height: calc(100vh - 24px);
  overflow-y: auto;
  overflow-x: hidden;
}

.preloadContainer {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
