:root {
  --sider-width: 300px;
}

button:hover {
  color: var(--color-link);
  cursor: pointer;
}

button.disabled {
  color: var(--color-foreground-alt);
}

button.disabled:hover {
  cursor: not-allowed;
}

.exitButton {
  background: var(--color-background-alt);
}

.chapterHeader,
.chapterButton,
.pageNumber,
.pageButton {
  background: var(--color-background);
}

.settingsButton {
  background: var(--color-background-alt);
}

.sider {
  /* overflow: auto; */
  /* height: 100vh; */
  position: fixed;
  left: 0;

  justify-content: center;
  align-items: center;

  /* overrides since sider itself does not support sider prop
     https://github.com/ant-design/ant-design/issues/9719 */
  flex: 0 0 var(--sider-width) !important;
  max-width: var(--sider-width) !important;
  min-width: var(--sider-width) !important;
  width: var(--sider-width) !important;
}

.siderHeader {
  display: flex;
  align-content: stretch;
}

.exitButton,
.chapterButton,
.pageButton,
.settingsButton {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  text-decoration: none;
  position: relative;
}

.seriesTitle {
  padding: 8px;
  margin-bottom: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chapterHeader, .pageControlBar {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-background);
}

.chapterName,
.pageNumber {
  text-align: center;
  line-height: 1.1;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.chapterButton {
  height: 2.5rem;
  width: 2.5rem;
}

.pageButton {
  height: 2.2rem;
  width: 2.2rem;
}

.settingsBar {
  display: flex;
  align-content: stretch;
  align-items: stretch;
}

.settingsButton {
  height: 2.5rem;
  width: 2.5rem;
}

.groupRow {
  display: flex;
  justify-content: center;
  padding: 5px;
}
