:root {
  --sider-width: 260px;
}

.pageLayout {
  min-height: 100vh;
}

.contentLayout {
  justify-content: center;
  align-items: center;
  height: calc(100vh - 24px);
  overflow-y: auto;
  /* margin-left: var(--sider-width); */
}

.sider {
  /* overflow: auto; */
  height: 100vh;
  position: fixed;
  left: 0;

  /* overrides since sider itself does not support sider prop
     https://github.com/ant-design/ant-design/issues/9719 */
  flex: 0 0 var(--sider-width) !important;
  max-width: var(--sider-width) !important;
  min-width: var(--sider-width) !important;
  width: var(--sider-width) !important;
}

.pageImage {
  min-width: 0;
  width: 100%;
}

.fitHeight .pageImage {
  object-fit: contain;
  height: 100%;
}

.fitWidth .pageImage {
  max-width: unset;
  flex-grow: 1;
}
