button:hover {
  color: var(--color-link);
  cursor: pointer;
}

.exitButton {
  background: var(--color-background-alt);
}

.chapterHeader,
.chapterButton,
.pageNumber,
.pageButton,
.settingsButton {
  background: var(--color-background);
}

.exitButton,
.chapterButton,
.pageButton,
.settingsButton {
  font-family: 'Icons';
}

:root {
  --sider-width: 300px;
}

.pageLayout {
  min-height: 100vh;
}

.contentLayout {
  justify-content: center;
  align-items: center;
  height: calc(100vh - 24px);
  overflow-y: auto;
  overflow-x: hidden;
  /* margin-left: var(--sider-width); */
}

.sider {
  /* overflow: auto; */
  height: 100vh;
  position: fixed;
  left: 0;

  /* overrides since sider itself does not support sider prop
     https://github.com/ant-design/ant-design/issues/9719 */
  flex: 0 0 var(--sider-width) !important;
  max-width: var(--sider-width) !important;
  min-width: var(--sider-width) !important;
  width: var(--sider-width) !important;
}

.siderHeader {
  display: flex;
  align-content: stretch;
}

.exitButton,
.chapterButton,
.pageButton,
.settingsButton {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  text-decoration: none;
  position: relative;
}

.exitButton {
  height: 3rem;
  width: 3rem;
  font-size: 16px;
}

.exitButton::before {
  content: '\ea0f';
}

.seriesTitle {
  padding: 8px;
  margin-bottom: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chapterHeader {
  display: flex;
  align-content: stretch;
  align-items: stretch;
}

.chapterName,
.pageNumber {
  text-align: center;
  line-height: 1.1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.chapterButton {
  height: 2.5rem;
  width: 2.5rem;
  font-size: 16px;
}

.chapterButton.prev::before,
.pageButton.prev::before {
  content: '\ea40';
}

.chapterButton.next::before,
.pageButton.next::before {
  content: '\ea3c';
}

.pageButton.start::before {
  content: '\ea23';
}

.pageButton.end::before {
  content: '\ea24';
}

.pageControlBar {
  display: flex;
  align-content: stretch;
  align-items: stretch;
}

.pageButton {
  height: 2.2rem;
  width: 2.2rem;
  font-size: 16px;
}

.settingsBar {
  display: flex;
  align-content: stretch;
  align-items: stretch;
}

.settingsButton {
  height: 2.5rem;
  width: 2.5rem;
  font-size: 16px;
}

.settingsButton.fit.auto::before {
  content: '\e989';
}

.settingsButton.fit.width::before {
  content: 'W';
}

.settingsButton.fit.height::before {
  content: 'H';
}

.settingsButton.pageView.single::before {
  content: '\e927';
}

.settingsButton.pageView.double::before {
  content: '\e90e';
}

.settingsButton.pageView.doubleOdd::before {
  content: '\e90e';
  transform: scaleX(-1);
}

.preloadContainer {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.viewerContainer {
  width: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
}

.imageWrapper {
  min-width: 100%;
  overflow-y: auto;
}

.pageImage {
  min-width: 0;
  width: 100%;
}

.fitHeight .pageImage {
  object-fit: contain;
  height: 100%;
}

.fitWidth .pageImage {
  max-width: 100%;
  flex-grow: 1;
}

.fitAuto .pageImage {
  /* width: auto; */
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.imageColumn {
  float: left;
  width: 50%;
}
