.searchBar {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.extensionDropdown {
  flex: 1;
}

.searchField, .uploader {
  flex: 5;
  margin-left: 0.5rem !important
}

.alert {
  margin-bottom: 0.5rem !important;
}
