.searchBar {
  display: flex;
  align-items: center;
  padding-top: 0.5em;
}

.extensionDropdown {
  flex: 1;
}

.searchField,
.uploader {
  flex: 5;
  margin-left: 16px !important;
}

.alert {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

.loadingContainer {
  margin-top: 2em;
  text-align: center;
}

.seriesGrid {
  padding-top: 16px;
  padding-bottom: 16px;
}

.fsInputContainer {
  margin: auto;
  max-width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footerContainer {
  text-align: center;
}

.loadMoreButton {
  margin-bottom: 0.5em;
}
