.coverContainer {
  position: relative;
  opacity: 0.8;
  background-size: cover;
  cursor: pointer;
}

.coverContainer:hover {
  opacity: 0.5;
}

.seriesTitle {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  text-shadow: #000 0 0 4px;
  line-height: 1.2;
  user-select: none;
  color: white;
}

.seriesUnreadBadge {
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
  z-index: 1;
  color: white;
}

.ctxMenuContent {
  width: 220px;
  background-color: var(--mantine-color-dark-6);
  border-radius: 6px;
  overflow: hidden;
  padding: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--mantine-color-dark-4);
}

.ctxSubMenuContent {
  width: 240,
}

.ctxMenuItem {
  background-color: var(--mantine-color-dark-6);
  cursor: pointer;
  border-radius: 3px;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 25px;
  overflow-y: hidden;
  position: relative;
  padding-left: 25px;
  padding-right: 5px;
  user-select: none;
  outline: none;
}

.ctxMenuItem:hover, .ctxMenuItem[data-highlighted] {
  background-color: var(--mantine-color-dark-7);
}

.ctxMenuItemIndicator {
  position: absolute;
  left: 0;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}