/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import '~antd/dist/antd.dark.css';
@import 'style/colors.css';
@import 'style/titlebar.css';
@import 'style/flags.css';

body {
  /* height: 100vh; */
  overflow-y: hidden;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  font-size: 14px;
}

#root {
  height: calc(100vh);
  overflow-y: auto;

  --titlebar-height: 24px;
  margin-top: var(--titlebar-height);
}

#titlebar.hidden+#root {
  --titlebar-height: 0px;
}

h4.ant-typography {
  font-size: 18px;
}

.ant-table-thead>tr>th {
  font-weight: bold;
  user-select: none;
}

.ant-descriptions-item-container {
  align-items: center;
}

.ant-dropdown-menu {
  max-height: 200px;
  overflow: auto;
}

.ant-dropdown-menu .ant-dropdown-menu-sub {
  min-width: 100px;
  text-align: center;
}

.ant-alert {
  padding: 8px 15px !important;
}

.ant-alert-message {
  font-size: 14px !important;
}

.ant-alert-description>.ant-typography {
  margin-bottom: 0 !important;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: #25262B; /* dark 6 */
}

::-webkit-scrollbar-thumb {
  background: #868E96; /* gray 6 */
}

::-webkit-scrollbar-thumb:hover {
  background: #495057; /* gray 7 */
}