/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import '~antd/dist/antd.dark.css';
@import 'colors.css';
@import 'titlebar.css';
@import 'icons.css';
@import 'flags.css';

body {
  /* height: 100vh; */

  overflow-y: hidden;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  font-size: 14px;
}

h4.ant-typography {
  font-size: 18px;
}

.ant-table-thead > tr > th {
  font-weight: bold;
  user-select: none;
}

#root {
  height: calc(100%-24px);
  margin-top: 24px;
  overflow-y: auto;
}
