@font-face {
  font-family: 'Houdoku';
  src:
    url('font/Houdoku.ttf?3rgnc4') format('truetype'),
    url('font/Houdoku.woff?3rgnc4') format('woff'),
    url('font/Houdoku.svg?3rgnc4#Houdoku') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Houdoku' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home2:before {
  content: "\e900";
}
.icon-pencil:before {
  content: "\e901";
}
.icon-pencil5:before {
  content: "\e902";
}
.icon-pencil7:before {
  content: "\e903";
}
.icon-eraser:before {
  content: "\e904";
}
.icon-palette:before {
  content: "\e905";
}
.icon-image2:before {
  content: "\e906";
}
.icon-image-compare:before {
  content: "\e907";
}
.icon-images2:before {
  content: "\e908";
}
.icon-images2-flipped {
  transform: scaleX(-1);
}
.icon-images2-flipped:before {
  content: "\e908";
}
.icon-camera:before {
  content: "\e909";
}
.icon-camera2:before {
  content: "\e90a";
}
.icon-new:before {
  content: "\e90b";
}
.icon-connection:before {
  content: "\e90c";
}
.icon-book:before {
  content: "\e90d";
}
.icon-book2:before {
  content: "\e90e";
}
.icon-book3:before {
  content: "\e90f";
}
.icon-bookmark:before {
  content: "\e910";
}
.icon-books:before {
  content: "\e911";
}
.icon-file-empty:before {
  content: "\e912";
}
.icon-file-empty2:before {
  content: "\e913";
}
.icon-files-empty:before {
  content: "\e914";
}
.icon-files-empty2:before {
  content: "\e915";
}
.icon-file-plus:before {
  content: "\e916";
}
.icon-file-plus2:before {
  content: "\e917";
}
.icon-file-minus:before {
  content: "\e918";
}
.icon-file-minus2:before {
  content: "\e919";
}
.icon-file-text2:before {
  content: "\e91a";
}
.icon-file-text3:before {
  content: "\e91b";
}
.icon-file-picture:before {
  content: "\e91c";
}
.icon-file-picture2:before {
  content: "\e91d";
}
.icon-copy:before {
  content: "\e91e";
}
.icon-copy2:before {
  content: "\e91f";
}
.icon-file-zip:before {
  content: "\e920";
}
.icon-file-zip2:before {
  content: "\e921";
}
.icon-paste2:before {
  content: "\e922";
}
.icon-paste3:before {
  content: "\e923";
}
.icon-stack:before {
  content: "\e924";
}
.icon-stack2:before {
  content: "\e925";
}
.icon-stack3:before {
  content: "\e926";
}
.icon-folder:before {
  content: "\e927";
}
.icon-folder-search:before {
  content: "\e928";
}
.icon-folder-download:before {
  content: "\e929";
}
.icon-folder-upload:before {
  content: "\e92a";
}
.icon-folder-plus:before {
  content: "\e92b";
}
.icon-folder-plus2:before {
  content: "\e92c";
}
.icon-folder-minus:before {
  content: "\e92d";
}
.icon-folder2:before {
  content: "\e92e";
}
.icon-folder-open:before {
  content: "\e92f";
}
.icon-price-tag2:before {
  content: "\e930";
}
.icon-price-tags:before {
  content: "\e931";
}
.icon-price-tag3:before {
  content: "\e932";
}
.icon-price-tags2:before {
  content: "\e933";
}
.icon-price-tag4:before {
  content: "\e934";
}
.icon-price-tags3:before {
  content: "\e935";
}
.icon-price-tag5:before {
  content: "\e936";
}
.icon-price-tags4:before {
  content: "\e937";
}
.icon-qrcode:before {
  content: "\e938";
}
.icon-theater:before {
  content: "\e939";
}
.icon-store:before {
  content: "\e93a";
}
.icon-address-book:before {
  content: "\e93b";
}
.icon-address-book2:before {
  content: "\e93c";
}
.icon-at-sign:before {
  content: "\e93d";
}
.icon-envelop3:before {
  content: "\e93e";
}
.icon-location:before {
  content: "\e93f";
}
.icon-reset:before {
  content: "\e940";
}
.icon-clock:before {
  content: "\e941";
}
.icon-clock2:before {
  content: "\e942";
}
.icon-clock3:before {
  content: "\e943";
}
.icon-clock4:before {
  content: "\e944";
}
.icon-bell2:before {
  content: "\e945";
}
.icon-bell3:before {
  content: "\e946";
}
.icon-calendar2:before {
  content: "\e947";
}
.icon-calendar3:before {
  content: "\e948";
}
.icon-calendar4:before {
  content: "\e949";
}
.icon-calendar5:before {
  content: "\e94a";
}
.icon-calendar-empty:before {
  content: "\e94b";
}
.icon-calendar-day:before {
  content: "\e94c";
}
.icon-calendar-week:before {
  content: "\e94d";
}
.icon-printer2:before {
  content: "\e94e";
}
.icon-mouse:before {
  content: "\e94f";
}
.icon-mouse2:before {
  content: "\e950";
}
.icon-mouse-left:before {
  content: "\e951";
}
.icon-mouse-right:before {
  content: "\e952";
}
.icon-keyboard:before {
  content: "\e953";
}
.icon-keyboard2:before {
  content: "\e954";
}
.icon-display:before {
  content: "\e955";
}
.icon-display2:before {
  content: "\e956";
}
.icon-display3:before {
  content: "\e957";
}
.icon-drawer2:before {
  content: "\e958";
}
.icon-drawer-out:before {
  content: "\e959";
}
.icon-drawer-in:before {
  content: "\e95a";
}
.icon-box-add:before {
  content: "\e95b";
}
.icon-box-remove:before {
  content: "\e95c";
}
.icon-download:before {
  content: "\e95d";
}
.icon-upload:before {
  content: "\e95e";
}
.icon-floppy-disk:before {
  content: "\e95f";
}
.icon-floppy-disks:before {
  content: "\e960";
}
.icon-server:before {
  content: "\e961";
}
.icon-database:before {
  content: "\e962";
}
.icon-undo:before {
  content: "\e963";
}
.icon-redo:before {
  content: "\e964";
}
.icon-rotate-ccw:before {
  content: "\e965";
}
.icon-rotate-cw:before {
  content: "\e966";
}
.icon-rotate-ccw2:before {
  content: "\e967";
}
.icon-rotate-cw2:before {
  content: "\e968";
}
.icon-rotate-ccw3:before {
  content: "\e969";
}
.icon-rotate-cw3:before {
  content: "\e96a";
}
.icon-flip-vertical:before {
  content: "\e96b";
}
.icon-flip-vertical2:before {
  content: "\e96c";
}
.icon-flip-horizontal:before {
  content: "\e96d";
}
.icon-flip-horizontal2:before {
  content: "\e96e";
}
.icon-align-left:before {
  content: "\e96f";
}
.icon-align-center-horizontal:before {
  content: "\e970";
}
.icon-align-right:before {
  content: "\e971";
}
.icon-align-top:before {
  content: "\e972";
}
.icon-align-center-vertical:before {
  content: "\e973";
}
.icon-align-bottom:before {
  content: "\e974";
}
.icon-undo2:before {
  content: "\e975";
}
.icon-redo2:before {
  content: "\e976";
}
.icon-forward:before {
  content: "\e977";
}
.icon-reply:before {
  content: "\e978";
}
.icon-reply-all:before {
  content: "\e979";
}
.icon-bubble:before {
  content: "\e97a";
}
.icon-bubbles:before {
  content: "\e97b";
}
.icon-bubbles2:before {
  content: "\e97c";
}
.icon-bubble2:before {
  content: "\e97d";
}
.icon-bubbles3:before {
  content: "\e97e";
}
.icon-bubbles4:before {
  content: "\e97f";
}
.icon-bubbles5:before {
  content: "\e980";
}
.icon-bubbles6:before {
  content: "\e981";
}
.icon-bubble3:before {
  content: "\e982";
}
.icon-bubble-dots:before {
  content: "\e983";
}
.icon-bubble-lines:before {
  content: "\e984";
}
.icon-user:before {
  content: "\e985";
}
.icon-users:before {
  content: "\e986";
}
.icon-user-plus:before {
  content: "\e987";
}
.icon-user-minus:before {
  content: "\e988";
}
.icon-user-lock:before {
  content: "\e989";
}
.icon-users4:before {
  content: "\e98a";
}
.icon-quotes-left:before {
  content: "\e98b";
}
.icon-quotes-right:before {
  content: "\e98c";
}
.icon-hour-glass:before {
  content: "\e98d";
}
.icon-spinner:before {
  content: "\e98e";
}
.icon-spinner2:before {
  content: "\e98f";
}
.icon-spinner3:before {
  content: "\e990";
}
.icon-spinner4:before {
  content: "\e991";
}
.icon-spinner5:before {
  content: "\e992";
}
.icon-spinner6:before {
  content: "\e993";
}
.icon-spinner7:before {
  content: "\e994";
}
.icon-spinner11:before {
  content: "\e995";
}
.icon-binoculars2:before {
  content: "\e996";
}
.icon-search:before {
  content: "\e997";
}
.icon-zoom-in:before {
  content: "\e998";
}
.icon-zoom-out:before {
  content: "\e999";
}
.icon-enlarge:before {
  content: "\e99a";
}
.icon-shrink:before {
  content: "\e99b";
}
.icon-enlarge2:before {
  content: "\e99c";
}
.icon-shrink2:before {
  content: "\e99d";
}
.icon-enlarge7:before {
  content: "\e99e";
}
.icon-shrink7:before {
  content: "\e99f";
}
.icon-key:before {
  content: "\e9a0";
}
.icon-lock2:before {
  content: "\e9a1";
}
.icon-wrench:before {
  content: "\e9a2";
}
.icon-wrench3:before {
  content: "\e9a3";
}
.icon-equalizer:before {
  content: "\e9a4";
}
.icon-equalizer2:before {
  content: "\e9a5";
}
.icon-cog:before {
  content: "\e9a6";
}
.icon-magic-wand2:before {
  content: "\e9a7";
}
.icon-stats-bars2:before {
  content: "\e9a8";
}
.icon-rating:before {
  content: "\e9a9";
}
.icon-rating2:before {
  content: "\e9aa";
}
.icon-rating3:before {
  content: "\e9ab";
}
.icon-gift2:before {
  content: "\e9ac";
}
.icon-fire:before {
  content: "\e9ad";
}
.icon-bin:before {
  content: "\e9ae";
}
.icon-bin2:before {
  content: "\e9af";
}
.icon-airplane:before {
  content: "\e9b0";
}
.icon-puzzle:before {
  content: "\e9b1";
}
.icon-puzzle3:before {
  content: "\e9b2";
}
.icon-power:before {
  content: "\e9b3";
}
.icon-list-numbered:before {
  content: "\e9b4";
}
.icon-list:before {
  content: "\e9b5";
}
.icon-list2:before {
  content: "\e9b6";
}
.icon-tree7:before {
  content: "\e9b7";
}
.icon-cloud2:before {
  content: "\e9b8";
}
.icon-cloud-download2:before {
  content: "\e9b9";
}
.icon-cloud-upload2:before {
  content: "\e9ba";
}
.icon-cloud-check2:before {
  content: "\e9bb";
}
.icon-download2:before {
  content: "\e9bc";
}
.icon-download3:before {
  content: "\e9bd";
}
.icon-upload2:before {
  content: "\e9be";
}
.icon-upload3:before {
  content: "\e9bf";
}
.icon-import:before {
  content: "\e9c0";
}
.icon-import2:before {
  content: "\e9c1";
}
.icon-sphere:before {
  content: "\e9c2";
}
.icon-earth:before {
  content: "\e9c3";
}
.icon-earth2:before {
  content: "\e9c4";
}
.icon-link:before {
  content: "\e9c5";
}
.icon-unlink:before {
  content: "\e9c6";
}
.icon-flag:before {
  content: "\e9c7";
}
.icon-flag2:before {
  content: "\e9c8";
}
.icon-bookmark2:before {
  content: "\e9c9";
}
.icon-bookmark3:before {
  content: "\e9ca";
}
.icon-bookmarks:before {
  content: "\e9cb";
}
.icon-bookmark4:before {
  content: "\e9cc";
}
.icon-moon:before {
  content: "\e9cd";
}
.icon-star-empty:before {
  content: "\e9ce";
}
.icon-star-empty2:before {
  content: "\e9cf";
}
.icon-star-full:before {
  content: "\e9d0";
}
.icon-heart3:before {
  content: "\e9d1";
}
.icon-heart4:before {
  content: "\e9d2";
}
.icon-thumbs-up:before {
  content: "\e9d3";
}
.icon-thumbs-up2:before {
  content: "\e9d4";
}
.icon-thumbs-down:before {
  content: "\e9d5";
}
.icon-thumbs-down2:before {
  content: "\e9d6";
}
.icon-thumbs-up3:before {
  content: "\e9d7";
}
.icon-thumbs-down3:before {
  content: "\e9d8";
}
.icon-stack-picture:before {
  content: "\e9d9";
}
.icon-warning:before {
  content: "\e9da";
}
.icon-warning2:before {
  content: "\e9db";
}
.icon-notification:before {
  content: "\e9dc";
}
.icon-notification2:before {
  content: "\e9dd";
}
.icon-question3:before {
  content: "\e9de";
}
.icon-question4:before {
  content: "\e9df";
}
.icon-minus:before {
  content: "\e9e0";
}
.icon-plus2:before {
  content: "\e9e1";
}
.icon-info:before {
  content: "\e9e2";
}
.icon-info2:before {
  content: "\e9e3";
}
.icon-cancel-circle:before {
  content: "\e9e4";
}
.icon-cancel-circle2:before {
  content: "\e9e5";
}
.icon-blocked:before {
  content: "\e9e6";
}
.icon-cancel-square:before {
  content: "\e9e7";
}
.icon-cancel-square2:before {
  content: "\e9e8";
}
.icon-cancel:before {
  content: "\e9e9";
}
.icon-spam:before {
  content: "\e9ea";
}
.icon-cross:before {
  content: "\e9eb";
}
.icon-checkmark:before {
  content: "\e9ec";
}
.icon-checkmark2:before {
  content: "\e9ed";
}
.icon-backward2:before {
  content: "\e9ee";
}
.icon-forward3:before {
  content: "\e9ef";
}
.icon-first:before {
  content: "\e9f0";
}
.icon-last:before {
  content: "\e9f1";
}
.icon-previous2:before {
  content: "\e9f2";
}
.icon-next2:before {
  content: "\e9f3";
}
.icon-loop:before {
  content: "\e9f4";
}
.icon-first2:before {
  content: "\e9f5";
}
.icon-last2:before {
  content: "\e9f6";
}
.icon-arrow-up:before {
  content: "\e9f7";
}
.icon-arrow-right:before {
  content: "\e9f8";
}
.icon-arrow-down:before {
  content: "\e9f9";
}
.icon-arrow-left:before {
  content: "\e9fa";
}
.icon-arrow-up6:before {
  content: "\e9fb";
}
.icon-arrow-right6:before {
  content: "\e9fc";
}
.icon-arrow-down6:before {
  content: "\e9fd";
}
.icon-arrow-left6:before {
  content: "\e9fe";
}
.icon-square-up:before {
  content: "\e9ff";
}
.icon-square-right:before {
  content: "\ea00";
}
.icon-square-down:before {
  content: "\ea01";
}
.icon-square-left:before {
  content: "\ea02";
}
.icon-arrow-up12:before {
  content: "\ea03";
}
.icon-arrow-right12:before {
  content: "\ea04";
}
.icon-arrow-down12:before {
  content: "\ea05";
}
.icon-arrow-left12:before {
  content: "\ea06";
}
.icon-checkbox-checked:before {
  content: "\ea07";
}
.icon-checkbox-unchecked:before {
  content: "\ea08";
}
.icon-checkbox-checked2:before {
  content: "\ea09";
}
.icon-checkbox-unchecked2:before {
  content: "\ea0a";
}
.icon-toggle-on:before {
  content: "\ea0b";
}
.icon-toggle-off:before {
  content: "\ea0c";
}
.icon-crop2:before {
  content: "\ea0d";
}
.icon-ruler:before {
  content: "\ea0e";
}
.icon-filter3:before {
  content: "\ea0f";
}
.icon-filter4:before {
  content: "\ea10";
}
.icon-height2:before {
  content: "\ea11";
}
.icon-width:before {
  content: "\ea12";
}
.icon-font-size2:before {
  content: "\ea13";
}
.icon-page-break:before {
  content: "\ea14";
}
.icon-page-break2:before {
  content: "\ea15";
}
.icon-pagebreak:before {
  content: "\ea16";
}
