.row {
  margin-bottom: 8px !important;
}

.heading {
  margin-top: 2em !important;
}

.settingName {
  margin-bottom: 4px !important;
}

.resetAllButton {
  margin-bottom: 12px;
}

.shortcutButton:focus {
  background-color: var(--color-foreground) !important;
  color: var(--color-background) !important;
}

.shortcutResetButton {
  margin-left: 8px;
}

.toggleContainer {
  display: flex;
}

.toggleButton {
  border: none !important;
  border-radius: 0 !important;
  background-color: var(--color-foreground-alt) !important;
}

.toggleButton:hover {
  background-color: var(--color-background-alt) !important;
  color: var(--color-foreground-header) !important;
}

.toggleButton.active {
  background-color: var(--color-7) !important;
  font-weight: bold;
  color: black !important;
}

.checkbox {
  margin-bottom: 3px !important;
}

.keybindsPanel>div {
  padding: 0 !important;
}

.keybindRow {
  margin-bottom: 4px !important;
  align-items: center;
}

.keybindName {
  width: 200px;
  color: var(--color-foreground);
}