.row {
  margin-left: 16px !important;
  margin-bottom: 8px !important;
}

.step {
  margin-bottom: 6px !important;
}

.loaderContainer {
  text-align: center;
}

.infoAlert {
  margin-bottom: 1em !important;
}

.statusText {
  text-align: center;
}